@import url("https://use.typekit.net/zab7xay.css");


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 -webkit-font-smoothing: antialiased;
color:#303133;
min-height:100vh;
background: linear-gradient(to bottom, #F7F7F7 60%, #F9F5F1 40%);
background-repeat:no-repeat;
}

a{
    text-decoration:none;
    color:#fff;
}

body, input, button {
 font-size: 16px;
 font-family: courier-prime;
 font-weight:100;
}

button {
 cursor: pointer;
border:none;
margin-top:1.6em;
}


h1{
    font-size: 3.5em;
 font-weight: 100;
 line-height: 1.2;
}

h2{
    font-size: 1em;
    margin-top: 1em;
 font-weight: 100;
}

textarea{
    width:100%;
    min-height:14rem;
    padding:1em;
    margin-top:4em;
    border:none;
    border-radius:4px;
    font-size:1em;
}


textarea:focus{
    border:1px solid #35695C;
}

header
{
    display:flex;
    align-items:center;
    justify-content: center;
    padding:3em 4em;
}

header img{
    max-width:12em;
}

.container{
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width:1440px;
    padding: 4em 6em;
}

.content{
    grid-column: 1/6;

    margin-top:5em;
}

input.checkbox,
input.email,
input.fname,
input.lname{
    width:0;
    height:0;
    display:none;
    visibility: hidden;
}



a.button{
    background-color: #35695C;
    display:inline-block;
    width:12em;
    height:3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
}

a.button:hover{
    background-color:#303133;
    border: 1px solid #F7F7F7;
}

.illo{
    grid-column: 7/13;

    display: flex;
}

.grid-left,
.grid-right{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1em;
}

.grid-right{
    margin-left:1em;
}

.illo img{
    width:100%;
}



.couple{
    grid-column: 2/3;
    align-self: flex-end;
    justify-self:flex-end;
}

.studio{
    grid-column: span 2;
}

.group{
    grid-column: span 2;
    margin-top:9em;
}

.social{
    display:none;
    grid-column: 2/7;
}

.social p{
    color: #303133;
    margin-bottom:1em;
}

.badges{
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

.badge{
    margin-right:8px;
}

a.icon{
    position: relative;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    background-color:#35695C;
    border-radius: 2.5em;


    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s linear;
}

a.icon:hover{
    background-color: #303133 ;
}

a.icon img{
    max-width: 40%;
}


footer{
    margin:0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width: 1440px;
    padding: 4em 6em;
}



#form-wasClicked{
    display:none;
}



@media screen and (max-width: 1440px) {

    .container{
        padding-top:2em;
        max-width:1300px;
        grid-gap:0;
    }

    .content{
        margin-top: 0;
    }
}






@media screen and (max-width: 1164px) {


    .content{
        /* grid-column: 1/9; */

        margin:0 0 4em 0;

        
    }

    .illo{
        /* grid-column: 9/13; */
        margin-top:0;
    }

    .group{
        margin-top:18em;
    }

}


@media screen and (max-width: 768px) {


    header{
        padding:2em 4em;
    }

    header img{
        max-width:7em;
    }

    body{
        text-align:center;
    }

    .container{
        grid-gap:0;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        flex-flow: column-reverse;
        padding:0 2em 0 2em;
    }

    .content{
        grid-column: 1/13;

        margin-top:0;
    }

    .illo{
        margin:0 0 3.2em 0;
        justify-content:center;

        flex-direction:column;
    }

    .grid-left{
        display:none;
    }

    .grid-right{
        margin-left:0;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .group{
        margin-top:0;
        border-radius:100%;
        max-width:60%;
    }



    textarea{
        margin-top:2em;
    }

    h1{
        font-size: 2em;
    }
    
    h2{
        font-size: 1em;
    }

    footer{
        padding:0 2em 4em 2em;
        grid-gap:0;
    }

    .social{
        grid-column: 1/13;
    }

    .badges{
        justify-content: center;
    }


}
